<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主頁面!!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>


<!-- 
    filename
    total point
    x-min:
    x-max:

    y-min:
    y-max:

    z-min:
    z-max:

    xy good dataset
    xy bad dataset

    xz good dataset
    xz bad dataset
    
    yz good dataset
    yz bad dataset

-->

<body>
    <div class="app font-mono w-full min-h-screen">
        <h1 class="text-4xl font-black py-8 text-center"><span class="filename">
                <div class="animate-pulse bg-gray-300 w-16 inline-block rounded-lg">...</div>
            </span></h1>
        <div class="text-center">
            <h3>Data Set:</h3>
            <p>total point : <span class="total"><span class="animate-pulse bg-gray-300 w-16 inline-block rounded-lg">...</span></span></p>
            <p>x: <span class="x-min"><span class="animate-pulse bg-gray-300 w-16 inline-block rounded-lg my-1">...</span></span> ~ <span class="x-max"><span class="animate-pulse bg-gray-300 w-16 inline-block rounded-lg my-1">...</span></span></p>
            <p>y: <span class="y-min"><span class="animate-pulse bg-gray-300 w-16 inline-block rounded-lg my-1">...</span></span> ~ <span class="y-max"><span class="animate-pulse bg-gray-300 w-16 inline-block rounded-lg my-1">...</span></span></p>
            <p>z: <span class="z-min"><span class="animate-pulse bg-gray-300 w-16 inline-block rounded-lg my-1">...</span></span> ~ <span class="z-max"><span class="animate-pulse bg-gray-300 w-16 inline-block rounded-lg my-1">...</span></span></p>
        </div>
        <div class="flex h-full flex-col md:flex-row">
            <div id="xy" class="aspect-square p-2 w-full md:w-1/3">
                <span class="animate-pulse bg-gray-300 w-full h-full inline-block rounded-lg text-center">loading...</span>
            </div>
            <div id="xz" class="aspect-square p-2 w-full md:w-1/3">
                <span class="animate-pulse bg-gray-300 w-full h-full inline-block rounded-lg text-center">loading...</span>
            </div>
            <div id="yz" class="aspect-square p-2 w-full md:w-1/3">
                <span class="animate-pulse bg-gray-300 w-full h-full inline-block rounded-lg text-center">loading...</span>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "/api/getDataset",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        

                        $('.filename').html(response["filename"])
                        $('.total').html(response["totalPoint"])
                        $('.x-min').html(response["xMin"])
                        $('.x-max').html(response["xMax"])

                        $('.y-min').html(response["yMin"])
                        $('.y-max').html(response["yMax"])

                        $('.z-min').html(response["zMin"])
                        $('.z-max').html(response["zMax"])

                        const scales = {
                            x: {
                                type: 'linear',
                                position: 'center'
                            },
                            y: {
                                type: 'linear',
                                position: "center"
                            }
                        }

                        const xyData = {
                            datasets: [{
                                label: "good point",
                                data: response["xyGood"],
                                backgroundColor: "blue"
                            }, {
                                label: "bad point",
                                data: response["xyBad"],
                                backgroundColor: "red"
                            },]
                        }
                        const xyConfig = {
                            type: 'scatter',
                            data: xyData,
                            options: {
                                scales: scales,
                                maintainAspectRatio: false,
                                responsive: true,
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'xy'
                                    },
                                    subtitle: {
                                        display: true,
                                        text: `bad point: ${response["xyBad"].length}   fault rate: ${response["xyRate"]}%`
                                    }
                                }
                            }
                        }

                        const xzData = {
                            datasets: [{
                                label: "good point",
                                data: response["xzGood"],
                                backgroundColor: "blue"
                            }, {
                                label: "bad point",
                                data: response["xzBad"],
                                backgroundColor: "red"
                            }]
                        }
                        const xzConfig = {
                            type: 'scatter',
                            data: xzData,
                            options: {
                                scales: scales,
                                maintainAspectRatio: false,
                                responsive: true,
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'xz'
                                    },
                                    subtitle: {
                                        display: true,
                                        text: `bad point: ${response["xzBad"].length}   fault rate: ${response["xzRate"]}%`
                                    }
                                }
                            }
                        }

                        const yzData = {
                            datasets: [{
                                label: "good point",
                                data: response["yzGood"],
                                backgroundColor: "blue"
                            }, {
                                label: "bad point",
                                data: response["yzBad"],
                                backgroundColor: "red"
                            }]
                        }
                        const yzConfig = {
                            type: 'scatter',
                            data: yzData,
                            options: {
                                scales: scales,
                                maintainAspectRatio: false,
                                responsive: true,
                                plugins: {
                                    title: {
                                        display: true,
                                        text: "yz"
                                    },
                                    subtitle: {
                                        display: true,
                                        text: `bad point: ${response["yzBad"].length}   fault rate: ${response["yzRate"]}%`
                                    }
                                }
                            }
                        }


                        $("#xy").html("<canvas id='xy-chart'></canvas>")
                        $("#xz").html("<canvas id='xz-chart'></canvas>")
                        $("#yz").html("<canvas id='yz-chart'></canvas>")
                        const xyChart = document.getElementById('xy-chart');
                        const xzChart = document.getElementById('xz-chart');
                        const yzChart = document.getElementById('yz-chart');

                        new Chart(xyChart, xyConfig);
                        new Chart(xzChart, xzConfig);
                        new Chart(yzChart, yzConfig);
                    }
                });
            });
        </script>
    </div>
</body>

</html>